body{
    background-image:url("intro-import.jpg") ;
    text-align: center;
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

#umar{
    background-color: black;
    border-color: rgb(235, 137, 72);
    border-style:solid;    
    border-width: 4px;
    font-size:x-large;
    font-family: 'Permanent Marker', cursive;
}

#name{
    background-color: black;
    border-color: rgb(235, 137, 72);
    border-style:solid;    
    border-width: 4px;
    font-size:x-large;
    font-family: 'Permanent Marker', cursive;
}  











